In [25]:
import pandas as pd

# Rodrigo deu essa ideia de boas práticas na limpesa dele e só aproveitei
PATH = 'seeders/olist_customers_dataset.csv'
CLEAN_PATH = 'clean_datasets/olist_customers.csv'

df = pd.read_csv(PATH)

df.dtypes

# Retorna se houverem palavras com acento
contains_acents = df[df['customer_city'].str.contains('[À-ÿ]')]['customer_city'].unique()
# print(contains_acents)

# Retorna se existem nulos
df.isnull().any()

#Retorna se existem duplicados
df.duplicated().sum()

estatisticas = df.describe()
# print(estatisticas)

# Ordena crescente pela coluna customer_city, caso queira alterar direto no database adicione inplace=True após a o nome da coluna
df.sort_values('customer_city')

# Cria um novo arquivo csv já limpo e salva nesse caminho
df.to_csv(CLEAN_PATH, index=False)

         zip_code_prefixo           cidade sigla_uf   regiao
0                    1037        sao paulo       SP  Sudeste
1                    1046        sao paulo       SP  Sudeste
2                    1046        sao paulo       SP  Sudeste
3                    1041        sao paulo       SP  Sudeste
4                    1035        sao paulo       SP  Sudeste
...                   ...              ...      ...      ...
1000158             99950          taperoa       RS      Sul
1000159             99900   getulio vargas       RS      Sul
1000160             99950          taperoa       RS      Sul
1000161             99980  david canabarro       RS      Sul
1000162             99950          taperoa       RS      Sul

[1000163 rows x 4 columns]

# Conclusão

<p> Colunas e suas descrições </p>
<li>customer_id -> id do pedido de um cliente
<li>customer_unique_id -> id do cliente
<li>customer_zip_code_prefix > Primeiros cinco digitos do cep do cliente
<li>customer_city -> Nome da Cidade do cliente
<li>customer_state -> Nome do Estado do cliente